---
import Footer from '../components/Footer.astro'
import Metadata from '../components/Metadata.astro'
import Navigation from '../components/Navigation.astro'
const { title, description, imageUrl } = Astro.props
import { ViewTransitions } from 'astro:transitions'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Metadata title={title} description={description} imageUrl={imageUrl} />
    <ViewTransitions />
  </head>
  <body class="bg-zinc-100">
    <div class="border-b bg-white p-2 text-center text-sm">
      
    </div>
    <Navigation />
    <main
      class="mx-auto my-12 flex min-h-screen max-w-3xl flex-col px-3 lg:px-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>
